# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore the virtual environment directory
venv1/

# Ignore Flask instance folder
instance/

# Ignore configuration files, if any (e.g., local configuration files)
config.py

# Ignore IDE specific files (for example, VS Code)
.vscode/

# Ignore system files (Mac, Windows)
.DS_Store
Thumbs.db

# Ignore log files
*.log


# Ignore environment variable files
.env