<!DOCTYPE html>
<html>
<head>
    <title>Loldoku</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Loldoku</h1>
    <table>
        <tr>
            <th></th>
            <th>Top Lane</th>
            <th>Mid Lane</th>
            <th>Jungle</th>
        </tr>
        <tr>
            <th>Ionia</th>
            <td><input data-row="Ionia" data-col="Top"></td>
            <td><input data-row="Ionia" data-col="Mid"></td>
            <td><input data-row="Ionia" data-col="Jungle"></td>
        </tr>
        <tr>
            <th>Demacia</th>
            <td><input data-row="Demacia" data-col="Top"></td>
            <td><input data-row="Demacia" data-col="Mid"></td>
            <td><input data-row="Demacia" data-col="Jungle"></td>
        </tr>
        <tr>
            <th>Noxus</th>
            <td><input data-row="Noxus" data-col="Top"></td>
            <td><input data-row="Noxus" data-col="Mid"></td>
            <td><input data-row="Noxus" data-col="Jungle"></td>
        </tr>
    </table>

    <!-- This will be used for the dynamic dropdown -->
    <div id="dropdown-container"></div>

    <script src="/static/script.js"></script>
</body>
</html>
