<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loldoku</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="overlay" class="overlay"></div>

    <div id="welcome-modal" class="modal">
        <h2>Welcome to Loldoku!</h2>
        <p>This is still in Beta</p>
        <p>A lot of stuff needs to be improved</p>
        <p>
            Inspired by <a href="https://www.pokedoku.com" target="_blank" id="pokedoku-link">Pokédoku</a> and 
            <a href="https://www.loldle.net" target="_blank" id="loldle-link">Loldle</a>
        </p>
        <button id="start-button">Let's go</button>
    </div>

    <h1>Loldoku</h1>
    <table id="game-table">
        <thead id="column-headers"></thead>
        <tbody id="rows"></tbody>
    </table>
    <div id="dropdown-container"></div>
    <div id="credits">
        <p>
            Inspired by <a href="https://www.pokedoku.com" target="_blank" id="pokedoku-link">Pokédoku</a> and 
            <a href="https://www.loldle.net" target="_blank" id="loldle-link">Loldle</a>
        </p>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
